$color-primary: rgba(176, 151, 106, 1); /* #80976A */
$color-primary-hover: rgba(153, 126, 77, 1); /* #997E4D */

$color-disabled: rgba(191, 191, 191, 1); /* #BFBFBF */
$color-disabled: rgba(245, 245, 245, 1); /* #F5F5F5 */